/* main page specific */
.header {
    padding-top: 3rem;    
    padding-bottom: 7rem;

    text-align: center;
    background-color: var(--bg-light);
}

#greetings-text {
    color: var(--text-light);
    font-weight: bold;
    font-size: 2rem;
    padding: 0;
    margin: 0;
}

#danieliu-banner {
    image-rendering: pixelated;
    height: 10rem;
    width: auto;
}

.social-icons {
    list-style: none;
    padding: 0;
    margin: 0;
}
.social-icons li {
    display: inline;
}
.social-icons li a {
    text-decoration: none;
}
.social-icons li a img {
    width: auto;
    height: 2rem;
    padding: 0.25rem;

    transition: all 0.3s;
    filter: invert(99%) sepia(4%) saturate(18%) hue-rotate(245deg) brightness(106%) contrast(100%);    
}

#github-icon :hover {
    filter: invert(99%) sepia(0%) saturate(4600%) hue-rotate(35deg) brightness(117%) contrast(38%);
}
#devpost-icon :hover {
    filter: invert(23%) sepia(69%) saturate(1889%) hue-rotate(187deg) brightness(93%) contrast(99%);
}
#itchio-icon :hover {
    filter: invert(57%) sepia(58%) saturate(4810%) hue-rotate(327deg) brightness(97%) contrast(94%);
}

.bio {
    color: var(--text-dark);
    text-align: center;
}

